# Python3 virtual environment
venv

# YOLOv3
*.weights
*.cfg
*.names
yolov8

output

**/__pycache__/

src/groundstation/mission/missions
src/groundstation/mission/plots
src/groundstation/dashboard/missions
src/groundstation/dashboard/plots

.env